!.travis.yml
configure
config.log
config.cache
config.status
config.guess
config.rpath
config.sub
Makefile.conf
confdefs.h
aclocal.m4
Makefile
Makefile.in
version
autom4te.cache
compile
depcomp
missing
install-sh
mkinstalldirs
test-driver
ABOUT-NLS
*.ok
*.gmo
*.o
*~
.deps

alsactl/alsactl
alsactl/alsactl_init.7
alsactl/alsa-state.service
alsactl/alsa-restore.service
alsactl/alsa-store.service
alsaconf/alsaconf
alsamixer/alsamixer
amidi/amidi
amixer/amixer
aplay/aplay
aplay/arecord
aplay/arecord.1
axfer/axfer
bat/alsabat
iecset/iecset
seq/aconnect/aconnect
seq/aplaymidi/aplaymidi
seq/aplaymidi/arecordmidi
seq/aseqdump/aseqdump
seq/aseqnet/aseqnet
speaker-test/speaker-test
topology/alsatplg.1
alsaloop/alsaloop
alsaucm/alsaucm
alsaucm/alsaucm.1
alsaucm/89-alsa-ucm.rules
topology/alsatplg

include/aconfig.h*
include/stamp-*
include/version.h
po/Makefile*
po/POTFILES
po/Rules-quot
po/*.header
po/*.sin
po/*.sed
po/*.gmo
po/stamp-po
po/alsa-utils.pot
po/Makevars.template
po/ChangeLog
m4/*
utils/*.spec
